/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/storage/pail
/bootstrap/cache/*
/coverage
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
**/*___jb_tmp___
**/*___jb_old___
*.bak
*.tmp
*.temp
*.swp
*.swo
*.swn
composer.lock
mix-manifest.json
mix.js
vite.config.js
/hmr
